<div class = "container_big-card">
    <div class="big-card_photo">
        <img src="https://media.gettyimages.com/id/78779347/pt/foto/red-hot-rod-vintage-car.jpg?s=612x612&w=gi&k=20&c=pWBq5ezKKL1GhtG6k7bkgbF4wG9s2jCH67jI0L7xV_o=">
    </div>

    <div class = "big-card_title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>  
    </div>

    <div class = "big-card_description">
        <p>
          <a href="#">
            Gato grande
          </a>
        </p>
    </div>
</div>
